@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
*{
    font-family: 'B612', sans-serif;    
    color: #495057;
    letter-spacing: 0.5px;
}
.ui.pointing.red.basic.label{
    color: red;
    font-size: 8pt;
}
